p{
    text-align: center;
    font-size: 20px;
}
h1 {
    text-align: center;

}
h2{
    text-align: center;

}

label{
    text-align: center;
    font-size: 20px;
}
#myBakery input{
    text-align: center;
    font-size: 20px;
}
#pwd{
    text-align: center;
}



